<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.accudrive.app"
          android:versionCode="1"
          android:versionName="1.0">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true">
    <activity android:name="com.wayray.truear.sdk.api.TrueARActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
        android:name="com.wayray.truear.sdk.api.TrueARService"
        android:enabled="true"
        android:exported="true"></service>
  </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
